ion-list{
  max-width: 32rem;
  margin: 1rem auto;
}

ion-note{
  font-size: 1.5rem;
  font-weight: 700;
}

.empty-state{
  margin: 2rem auto;
  color: var(--ion-color-medium);
  text-align: center;
}